# Xcode
*.xcuserstate
*.xcuserdata
*.xcworkspace/xcuserdata/
xcuserdata/
DerivedData/
*.moved-aside
*.xcscmblueprint
*.xccheckout
IDEWorkspaceChecks.plist

# Build
build/
build-device/
*.o
*.LinkFileList
*.hmap

# CocoaPods
Pods/

# SwiftPM
.build/
.swiftpm/

# Misc
.DS_Store
*.orig
.claude/
