<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>RedRoom needs access to your photo library to edit and export your photos with film-inspired filters.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>RedRoom needs permission to save edited photos to your photo library.</string>
</dict>
</plist>
